version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: ems-mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: ems-backend
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
      - PORT=5001
      - MONGO_URI=mongodb://root:password@mongo:27017/comp3123_assigment1?authSource=admin
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: ems-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:5001/api/v1
      - REACT_APP_FILE_BASE_URL=http://localhost:5001
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

volumes:
  mongo_data:
